@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;1,900&display=swap');

@include mat.core();

$this-app-warn: mat.define-palette(mat.$red-palette);

$this-typography: mat.define-typography-config(
  $font-family: 'Source Code Pro',
);

// Define a dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$teal-palette, 600, A400),
    accent: mat.define-palette(mat.$blue-grey-palette, 600, 800),
    warn: $this-app-warn
  ),
  // Only include `typography` and `density` in the default dark theme.
  typography: $this-typography,
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$cyan-palette),
    accent: mat.define-palette(mat.$pink-palette),
    warn: $this-app-warn
  ),
));

// Apply the dark theme by default
//@include mat.core-theme($dark-theme);
//@include mat.button-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  // @include mat.all-component-themes($light-theme);
  @include mat.all-component-colors($light-theme);
}

.light-theme {
  @include mat.all-component-colors($light-theme);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

html {
  body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    *, *:before, *:after {
      box-sizing: border-box;
    }
  }
}
