@use '@angular/material' as mat;

$this-palette: mat.define-palette(mat.$cyan-palette);

:host {
  display: flex;
  flex-direction: row;
  background-color: mat.get-color-from-palette(mat.define-palette(mat.$blue-grey-palette, 100));
  height: calc( 100% - 64px );

  > div {
    background-color: mat.get-color-from-palette($this-palette, 500);
    padding: 10px;
    margin: 10px;

    &#header {
      flex: 1 1 300px;

      input {
        &:placeholder-shown {
          border: 2px solid #d9047d;
        }
      }

      div {
        margin-top: 10px;

        p#line-clamp {
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        p#column-count {
          column-count: 3;
        }

        .custom-table {
          thead {
            tr {
              position: sticky;
              top: 0;
            }
          }
        }
      }
    }

    &#nav {
      flex: .5 .5 auto;

      .handset-portrait {
        color: red;
      }
    }

    &#content {
      flex: 5 5 auto;
      display: flex;

      > {
        div {
          flex-grow: 1;
          margin: 2px;
          padding: 20px;
        }
      }
    }

    &#footer {
      flex: 1 1 25em;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }
}
