@use '@angular/material' as mat;

$this-palette: mat.define-palette(mat.$cyan-palette);

:host {
  display: flex;
  flex-direction: row;
  background-color: mat.get-color-from-palette(mat.define-palette(mat.$blue-grey-palette, 100));
  height: calc( 100% - 64px );

  > div {
    background-color: mat.get-color-from-palette($this-palette, 500);
    padding: 10px;
    margin: 10px;

    &#header {
      flex: 1 1 auto;
    }

    &#nav {
      flex: .5 .5 auto;
    }

    &#content {
      flex: 5 5 auto;
      display: flex;
      flex-direction: row;
      // justify-content: center;
      // align-items: center;

      > {
        div {
          // flex-grow: 1;
          margin: 2px;
          border: wheat 1px solid;
          padding: 20px;
        }
      }
    }

    &#footer {
      flex: 1 1 auto;
    }
  }
}
